<?xml version="1.0" ?>
<!-- Generated using onshape-to-robot -->
<!-- Onshape document_id: 76c3835ad13cf92a9fda6be4 -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


 <xacro:property name="package_name" value="my_robot_description" />
 <xacro:property name="robot_name" value="my_robot" />



</robot> 